{
  "root": true,
  "env": {
    "es2022": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "array-callback-return": ["error", {"checkForEach": true}],
    "no-await-in-loop": "error",
    "no-constant-binary-expression": "error",
    "no-constructor-return": "error",
    "no-duplicate-imports": "error",
    "no-promise-executor-return": "error",
    "no-self-compare": "error",
    "no-template-curly-in-string": "warn",
    "no-unmodified-loop-condition": "error",
    "no-unreachable-loop": "error",
    "no-unused-private-class-members": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": ["error", {"functions": false, "allowNamedExports": true}],
    "require-atomic-updates": "error",
    "arrow-body-style": ["warn", "as-needed"],
    "block-scoped-var": "error",
    "camelcase": ["warn", {"properties": "always"}],
    "complexity": ["warn", 10],
    "consistent-return": "error",
    "consistent-this": ["error", "that"],
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "func-name-matching": ["warn", "always"],
    "func-names": ["warn", "always"],
    "func-style": ["warn", "declaration", {"allowArrowFunctions": true}],
    "grouped-accessor-pairs": ["warn", "setBeforeGet"],
    "guard-for-in": "error",
    "init-declarations": ["error", "always"],
    "max-classes-per-file": ["error", 1],
    "max-depth": ["warn", 2],
    "max-nested-callbacks": ["warn", 2],
    "max-params": ["warn", 5],
    "new-cap": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-bitwise": ["error", {"allow": ["~"]}],
    "no-caller": "error",
    "no-confusing-arrow": "error",
    "no-continue": "error",
    "no-div-regex": "warn",
    "no-else-return": ["error", {"allowElseIf": false}],
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": ["error", {"allow": ["~"]}],
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["warn", {"ignore": [-1, 0, 1, 2], "ignoreArrayIndexes": true}],
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-multi-str": "error",
    "no-negated-condition": "warn",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": ["error", {"props": true, "ignorePropertyModificationsFor": ["context"]}],
    "no-proto": "error",
    "no-return-assign": ["error", "except-parens"],
    "no-return-await": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "object-shorthand": ["warn", "always"],
    "one-var": ["error", "never"],
    "operator-assignment": ["warn", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": "warn",
    "prefer-exponentiation-operator": "warn",
    "prefer-named-capture-group": "warn",
    "prefer-numeric-literals": "error",
    "prefer-object-has-own": "error",
    "prefer-object-spread": "warn",
    "prefer-promise-reject-errors": "error",
    "prefer-regex-literals": "warn",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "radix": "error",
    "require-await": "error",
    "require-unicode-regexp": "warn",
    "spaced-comment": ["warn", "always"],
    "strict": ["error", "global"],
    "symbol-description": "error",
    "vars-on-top": "warn",
    "yoda": "error",
    "prettier/prettier": "warn"
  }
}
